.App {
  width: 500px;
  font-family: 'PT Sans Narrow';
  padding: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#svgContainer { 
	z-index: 999;
	position:absolute;
	opacity: 0.5;
}


.topic {
  line-height: 1.2;
  background-color: lightpink;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
  margin: 1px 3px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
